<h1> <%= @user.first_name %>'s Profile </h1>

<% @user.dogs.each do |dog| %>
  <%= cl_image_tag dog.photo, width: 400, height: 300, crop: :fill %>
<% end %>

<h2>Requests to book my dog(s)</h2>

<% @appointments.each do |appointment| %>

<div class="notification">
  <img src="<%=appointment.user.profile_photo%>" class="avatar-bordered img-crop"/>
  <img src="<%=appointment.dog.photo%>" class="avatar-bordered img-crop"/>
  <div class="notification-content">
    <p><strong><%= appointment.user.first_name %></strong> wants to walk <strong><%= appointment.dog.name %></strong></p>
    <h4>"<%= appointment.request_message %>"</h4>
    <p>Status: <%= appointment.status %></p>
  </div>

  <div class="notification-actions">
    <a href="#" style="color: green;">Accept <i class="far fa-check-circle"></i></a>
    <a href="#" style="color: red;">Reject <i class="far fa-times-circle"></i></a>
      <%= link_to "Accept", accept_appointment_path(appointment), method: :patch %>

  <%= link_to "Reject", deny_appointment_path(appointment), method: :patch %>
  </div>
</div>

  <h4><%= appointment.user.first_name %> wants to walk <%= appointment.dog.name %></h4>

  <p>Status: <%= appointment.status %></p>





<% end %>
