<div class="container">
  <div class="page-title">
  <h1> <%= @user.first_name %> <%= @user.last_name %>'s profile </h1>
  </div>
  <div class="profile-info">
  <div class="profile-img">
  <%= cl_image_tag @user.profile_photo, class: "profile-photo avatar-profile" %>
  <%= link_to "Edit profile", root_path, class: "btn btn-sm btn-success profile-edit" %>
  </div>
  <div class="card">
    <ul class="list-group list-group-flush">
      <li class="list-group-item">
        <h6 class="card-subtitle mb-2 text-muted">Email</h6>
        <%= @user.email %>
        </li>
      <li class="list-group-item">
        <h6 class="card-subtitle mb-2 text-muted">About</h6>
        <%= @user.about %>
      </li>
      <li class="list-group-item">
        <h6 class="card-subtitle mb-2 text-muted">Mobile</h6>
        <%= @user.phone_number %>
        </li>
    </ul>
  </div>

  </div>

  <h2>Your listed dogs 🐶</h2>
  <div class="grid-container">
    <% @user.dogs.each do |dog| %>
    <div class="card card-margin-border-radius card-profile">
      <img src='<%= dog.photo %>', class="card-photo" />
      <div class="card-body">
        <h5 class="card-title"><%= dog.name %></h5>
        <p class="card-text"><%= dog.location %></p>
        <p class="card-text"> <%= dog.description %> </p>
        <%= link_to "Details", dog_path(dog), class: "btn btn-flat"%>
      </div>
    </div>
    <% end %>
  </div>

  <% if @appointments.present? %>
  <h2>Requests for walks 🐾</h2>
  <% end %>
  <% @appointments.each do |appointment| %>

  <% if appointment.status.downcase == "pending" %>
  <% status_style = "badge badge-pill badge-primary" %>
  <% elsif appointment.status.downcase == "accepted" %>
  <% status_style = "badge badge-pill badge-success" %>
  <% elsif appointment.status.downcase == "rejected" %>
  <% status_style = "badge badge-pill badge-danger" %>
  <% else %>
  <% status_style = "badge badge-pill badge-secondary" %>
  <% end %>

  <div class="notification col-9">

    <img src='<%= appointment.user.profile_photo %>' class="avatar-large"
    />

    <div class="notification-content">

      <div class="underline">
        <% if current_user == appointment.dog.user %>
        <p><strong>You</strong> want to walk <strong><%= appointment.dog.name %></strong> <span class="<%= status_style %>"><%= appointment.status %></span></p>
      </div>
      <% else %>
      <p><strong><%= appointment.user.first_name %></strong> wants to walk <strong><%= appointment.dog.name %></strong> <span class="<%= status_style %>"><%= appointment.status %></span></p>
    </div>
    <% end %>

    <div class="underline">
      <p><%= appointment.date.strftime("%A %d, %B") %> from <%= appointment.time_start.strftime("%I:%M%p") %> to <%= appointment.time_end.strftime("%I:%M%p") %></p>
    </div>
    <h3><span class="badge badge-pill badge-dark"><%= appointment.request_message %></span></h3>
  </div>

  <% if current_user == appointment.dog.user %>
  <div>
    <%= link_to "Accept", accept_appointment_path(appointment), method: :patch, class: "btn btn-lg btn-outline-success" %>
    <%= link_to "Reject", deny_appointment_path(appointment), method: :patch, class: "btn btn-lg btn-outline-danger" %>
  </div>
  <% end %>
</div>
<% end %>
<br><br><br><br>
</div>









