<div class="background-color">
    <div class="container width">
        <div class="bg-margin">
          <div class="page-title">
<h2>Edit <%= resource_name.to_s.humanize %></h2>

<%= simple_form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put }) do |f| %>
<%= f.error_notification %>

<div class="form-inputs">
  <%= f.input :email, required: true, autofocus: true %>

  <% if devise_mapping.confirmable? && resource.pending_reconfirmation? %>
  <p>Currently waiting confirmation for: <%= resource.unconfirmed_email %></p>
  <% end %>

  <%= f.input :password,
                hint: "leave it blank if you don't want to change it",
                required: false,
                input_html: { autocomplete: "new-password" } %>
  <%= f.input :password_confirmation,
                required: false,
                input_html: { autocomplete: "new-password" } %>
  <%= f.input :current_password,                  
                hint: "we need your current password to confirm your changes",
                required: true,
                input_html: { autocomplete: "current-password" } %>
  <%= f.input :first_name,                  
                hint: "you can change your first name if you want",
                required: false,
                input_html: { autocomplete: "current-name" } %>
  <%= f.input :last_name,                  
                hint: "you can change your last name if you want",
                required: false,
                input_html: { autocomplete: "" } %>
  <%= f.input :about,            
                hint: "you can change your description if you want",
                required: false,
                input_html: { autocomplete: "" } %>
  <%= f.input :phone_number,                  
                hint: "you can change your phone number name if you want",
                required: false,
                input_html: { autocomplete: "" } %>
  <%= f.input :profile_photo,                  
                hint: "you can change your picture if you want",
                required: false,
                input_html: { autocomplete: "" } %>
</div>
<div class="btn-in-middle mdl">
<div class="form-actions">   
  <%= f.button :submit, "Update", class: "btn btn-success" %>
</div>
</div>
<% end %> 

<p>Unhappy?
  <%= link_to "Cancel my account", registration_path(resource_name), data: { confirm: "Are you sure?" }, method: :delete %>
</p>

<%= link_to "Back", :back %>
</div>
</div>
</div>
