<div class="dog-index-container">

  <div class="dog-index-content">

    <div class="page-title">
      <h1> Walk a dog, anywhere in the world. </h1>
    </div>

    <div class="d-flex justify-content-center">
      <%= form_tag dogs_path, method: :get do %>
      <%= text_field_tag :query,
      params[:query],
      class: "form-control search-bar",
        placeholder: "Search by location"
        %>
      <% end %>
    </div>

    <div class="dog-index-card-grid">
      <%  @dogs.each do |dog|  %>
      <div class="card card-index-height card-margin-border-radius">
        <img src='<%= dog.photo %>', class="card-photo" />
        <div class="card-body" style="text-align: center;">
          <h3 class="card-title"><%= dog.name %></h3>
          <p class="card-location"><%= dog.location %></p>
          <p class="card-text"> <%= dog.description %> </p>
          <%= link_to "Request a walk", dog_path(dog), class: "btn btn-warning"%>
        </div>
      </div>
      <% end %>
    </div>
  </div>

  <div class="dog-index-map-container">
    <div
    class="dog-index-map"
    id="map"
    style="width: 100%;
    height: 100vh;"
    data-markers="<%= @markers.to_json %>"
    data-mapbox-api-key="<%= ENV['MAPBOX_API_KEY'] %>"
    ></div>
  </div>

</div>
