<div>
  <div class="container">

    <div class="row justify-content-center">

      <div class="col-4 shadow p-3 mb-5 bg-white rounded">

        <h1 id="h1ofshow"><%= @dog.name %> </h1>

        <p id="pofshow"> Location: <%= @dog.location %> </p>
        <%= cl_image_tag @dog.photo, width: 350, height: 300, crop: :fill%>

        <%= link_to "All Doggos", dogs_path, class:"btn btn-success ctrbtn" %>
        <div class="ctr">
        <h3>Request to walk <%= @dog.name %></h3>


        <%= simple_form_for([@dog, @appointment]) do |f| %>
        <%= f.input :request_message%>
        <%= f.input :date %>
        <%= f.input :time_start, label: 'Pickup' %>
        <%= f.input :time_end, label: 'Dropoff'%>
        <%= f.button :submit, class: "btn btn-lg btn-success mgnr" %>

        <% end %>
      </div>

      </div>

    </div>

  </div>


</div>
