<div class="background-password">
  <div class="container display">
    <div class="card-of-sign-up">
    <h2>Forgot your password?</h2>
    <%= simple_form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :post }) do |f| %>
      <%= f.error_notification %>

      <div class="form-inputs">
        <%= f.input :email,
                    required: true,
                    autofocus: true,
                    input_html: { autocomplete: "email" } %>
      </div>

      <div class="form-actions">
        <div class="button-middle">
          <%= f.button :submit, "Send me reset password instructions", class: "btn-width" %>
        </div>
      </div>
      <% end %>
      <div class="button-middle pad-sing-up">
        <%= render "devise/shared/links" %>
      </div>
    </div>
  </div>
</div>
